[submodule "plugin/ctrlp.vim"]
	path = plugin/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim/tree/1.80
[submodule "plugin/auto-pairs"]
	path = plugin/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs/tree/v2.0.0
[submodule "plugin/incsearch.vim"]
	path = plugin/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim/tree/v2.0.1
[submodule "plugin/nerdcommenter"]
	path = plugin/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter/tree/2.5.2
[submodule "plugin/supertab"]
	path = plugin/supertab
	url = https://github.com/ervandew/supertab/tree/2.1
[submodule "plugin/vim-easymotion"]
	path = plugin/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion/tree/v3.0.1
[submodule "plugin/incsearch-easymotion.vim"]
	path = plugin/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
