[submodule "src/ctrlp.vim"]
	path = src/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "src/auto-pairs"]
	path = src/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "src/incsearch.vim"]
	path = src/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "src/nerdcommenter"]
	path = src/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "src/supertab"]
	path = src/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "src/vim-easymotion"]
	path = src/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "src/incsearch-easymotion.vim"]
	path = src/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
