Package: $PKG_NAME
Version: $PKG_VERSION
Section: base
Priority: optional
Architecture: all
Depends: vim (>= 2:8.0), vim (<< 3:9.0),
         vim-nox (>= 2:8.0), vim-nox(<< 2:9.0),
         exuberant-ctags (>= 1:5.0), exuberant-ctags (<< 1:6.0)
Maintainer: Kevin Leptons<kevin.leptons@gmail.com>
Description: Extend VIM text editor 
